<h3>Update Author</h3>
<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="onUpdate()">
    <div class="input-group mt-3 mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="name">Author Name</label>
      </div>
      <input type="text" class="form-control" id="name" name="name" formControlName="name">
    </div>
    <div class="input-group mt-3 mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Author Bio</span>
      </div>
      <textarea type="text" class="form-control" id="bio" name="bio"
                formControlName="bio" aria-label="Author Bio"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Update</button>
    <button type="button" class="btn btn-danger mr-4 ml-4" (click)="onDelete()"><i class="bi bi-person-x"></i> Delete</button>
  </form>
</div>
